.body{
    background:"whitesmoke"
}

.add-bar-container{
    display: flex;
    justify-content: center;
}
.add-icon{
    align-self: center;
}
.main-container{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.completed {
    text-decoration: line-through;
    width: 330px;
    height: 30px;
    overflow-wrap: break-word;
    padding: 10px;
    color:white;
}

.n-completed {
    text-decoration: none;
    width: 330px;
    height: 30px;
    overflow-wrap: break-word;
    padding: 10px;
    color:white;
}
.n-completed-container {
    background: #ffce0f;
    border-radius: 6px;
    display: inline-table;
    width:420px;
}
.n-completed-container > h2{
    text-align: center;
    font-size: 24px;
    border-bottom: 1px dashed white;
}
.todos-content {

}
.completed-container {
    background: #ffce0f;
    border-radius: 6px;
    display: inline-table;
    width:420px;
}
.completed-container > h2 {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px dashed white;
}
.todos-rows {
    display: flex;
    background: #5e3ebd;
    border-radius:4px;
    width: 400px;
    height: 250px;
    margin: 10px;
}
.todos-rows:hover {
  cursor: drag;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl{
    border-radius: 30px;
    
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl > input {
    text-indent: 10px;
}
span.MuiButtonBase-root {
    background: rgb(0 0 0 / 20%);
    border-radius: 0;
}
@media screen and (max-width: 850px) {
    .add-bar-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 8px;
        justify-content: center;
    }
    .completed-container > h2 {
        width:320px;
    }
    .todos-rows{
        width:320px;
    }
    .main-container{
        flex-direction: column;
    }
    .n-completed-container{
        align-self: center;
        width: 350px;
    }
    .completed-container{
     
        align-self: center;
        margin-top: 8px;
        width: 350px;
    }
    
  }

  